<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.AccountMapper">
	<cache/>
	
	<select id="login" resultType="Account" parameterType="Account" resultMap="accountMap">
		SELECT ta.id,ta.`name` AS accountname,`password`,role,css,tb.id AS barid,tb.name AS barname,address,desknum FROM t_account AS ta LEFT JOIN t_bar AS tb ON ta.barid = tb.id where ta.name = #{name}	and password = #{password}
	</select>
	
	<select id="findById" resultType="Account" parameterType="String" resultMap="accountMap">
		SELECT ta.id,ta.`name` AS accountname,`password`,role,css,tb.id AS barid,tb.name AS barname,address,desknum FROM t_account AS ta LEFT JOIN t_bar AS tb ON ta.barid = tb.id where id = #{id}
	</select>
	
	<select id="findByName" resultType="Account" parameterType="String" resultMap="accountMap">
		SELECT ta.id,ta.`name` AS accountname,`password`,role,css,tb.id AS barid,tb.name AS barname,address,desknum FROM t_account AS ta LEFT JOIN t_bar AS tb ON ta.barid = tb.id where ta.name = #{newname}
	</select>
	
	
	<insert id="save" parameterType="Account">
		insert into t_account(id,`name`,password,role,barid,css) values(#{id},#{name},#{password},#{role},#{barid},#{css}) 
	</insert>
	
	<update id="update" parameterType="Account">
		update t_account set `name`=#{name},password = #{password} ,css=#{css} where id = #{id}
	</update>
	
	<delete id="del" parameterType="String">
		delete from t_account where id = #{id}
	</delete>
	
	<resultMap type="Account" id="accountMap">
		<id property="id" column="id"/>
		<result property="name" column="accountname"/>
		<result property="password" column="password"/>
		<result property="role" column="role"/>
		<result property="css" column="css"/>
		<association property="bar" column="uid" javaType="Bar">
			<id property="id" column="barid"/>
			<result property="name" column="barname"/>
			<result property="address" column="address"/>
			<result property="desknum" column="desknum"/>
		</association>
	</resultMap>
</mapper>