<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.VipMapper">
	<cache/>	
	
	<select id="findById" resultType="Vip" parameterType="String">
		select * from t_vip where id = #{id}
	</select>
	<select id="findAll" resultType="list" resultMap="findVip">
		select id ,name,password,tel,discount from t_vip 
	</select>
	<resultMap type="Vip" id="findVip">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<result property="tel" column="tel"/>
		<result property="discount" column="discount"/>
	</resultMap>		
	<insert id="save" parameterType="Vip">
		insert into t_vip(id,`name`,password,tel,discount) values(#{id},#{name},#{password},#{tel},#{discount}) 
	</insert>
	
	<update id="update" parameterType="Vip">
		update t_vip set `name` = #{name},password = #{password},tel = #{tel},discount = #{discount} where id = #{id}
	</update>
	
	<delete id="del" parameterType="String">
		delete from t_vip where id = #{id}
	</delete>
</mapper>