<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.BarMapper">
	<cache/>	
	
	<select id="findById" resultType="Bar" parameterType="String">
		select * from t_bar where id = #{id}
	</select>
	<select id="getTotal" resultType="float" parameterType="map">
		select sum(total) from t_order where barid=#{barid} and( endtime between #{startTime} and #{endTime})
	</select>
	<insert id="save" parameterType="Bar">
		insert into t_bar(id,`name`,address,desknum) values(#{id},#{name},#{address},#{desknum}) 
	</insert>
	
	<update id="update" parameterType="Bar">
		update t_bar set `name`=#{name},address = #{address},desknum = #{desknum} where id = #{id}
	</update>
	
	<delete id="del" parameterType="String">
		delete from t_bar where id = #{id}
	</delete>
</mapper>