<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.DeskMapper">
	<cache/>	
	
	<select id="findAll" parameterType="String" resultType="list" resultMap="deskMapper">
		SELECT td.id,price,td.barid,orderid,starttime FROM t_desk AS td LEFT JOIN t_order AS tor ON td.orderid = tor.id WHERE td.barid = #{barid}
	</select>
	
	<select id="findById" resultType="Desk" parameterType="Desk" resultMap="deskMapper">
		SELECT td.id,price,td.barid,orderid,starttime
		FROM t_desk AS td
		LEFT JOIN t_order AS tor ON td.orderid = tor.id
		WHERE td.id = #{id} AND td.barid = #{barid}
	</select>
	
	<insert id="save" parameterType="Desk">
		insert into t_desk(id,price,barid,orderid) values(#{id},#{price},#{barid},#{orderid}) 
	</insert>
	
	<update id="updateOrderChange" parameterType="Desk">
		update t_desk set orderid = #{orderid} where id = #{id} and barid = #{barid}
	</update>
	
	<delete id="del" parameterType="String">
		delete from t_desk where id = #{id}
	</delete>
	
	<select id="findEmpty" parameterType="Desk" resultType="list" resultMap="deskMapper">
		SELECT * FROM t_desk
		WHERE barid = #{barid} AND orderid IS NULL AND price = #{price}
	</select>
	
	<resultMap type="Desk" id="deskMapper">
		<id property="id" column="id"/>
		<id property="barid" column="barid"/>
		<result property="price" column="price"/>
		<association property="order" column="orderid" javaType="Order">
			<id property="id" column="orderid"/>
			<result property="starttime" column="starttime"/>
		</association>
	</resultMap>
	
</mapper>