<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.OrderMapper">
	<cache/>	
	
	<select id="findById" resultType="Order" parameterType="String">
		select * from t_order where id = #{id}
	</select>
	
	<select id="findByVipId" parameterType="int" resultType="int">
		SELECT COUNT(total) FROM t_order WHERE vipid = #{vipid}
	</select>
	
	<select id="getCount" parameterType="map" resultType="list" resultMap="orderList">
		SELECT SUM(costtime) AS sumtime,tor.deskid,SUM(total) AS sumtotal FROM t_order AS tor
		RIGHT JOIN t_desk AS td ON  tor.deskid = td.id
		WHERE tor.deskid IN (
		SELECT id FROM t_desk WHERE barid = #{barid}	
		) AND endtime BETWEEN #{startTime} AND #{endTime}
		GROUP BY tor.deskid	
	</select>
	
	<resultMap type="Order" id="orderList">
		<result property="costtime" column="sumtime"/>
		<result property="deskid" column="deskid"/>
		<result property="total" column="sumtotal"/>
	</resultMap>
	
	<insert id="save" parameterType="Order">
		insert into t_order(id,starttime,endtime,total,vipid,deskid,barid,accountid) values(#{id},#{starttime},#{endtime},#{total},#{vipid},#{deskid},#{barid},#{accountid}) 
	</insert>
	
	<update id="update" parameterType="Order">
		update t_order set endtime = #{endtime},total=#{total},vipid = #{vipid},costtime = #{costtime} where id = #{id}
	</update>
	
	<delete id="del" parameterType="String">
		delete from t_order where id = #{id}
	</delete>
</mapper>